@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: #eeeeee;
  color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lists {
  background-color: #fff;
  border-radius: .3rem;
  overflow: hidden;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.212);
}

.list {
    border-bottom: 1px solid #5b775e33;
    font-size: .8rem;
    color: rgb(82, 82, 82);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.list .block {
  font-size: .8rem !important;
}

.list .resolve {
  font-size: .8rem !important;
}

